body { 
    margin: 1.5em;
    font-family:'Segoe UI',Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img {  
    position: absolute; 
    top: 0;
    left: 0;
    background: url('../qitimages/image5.jpg');
    background-size: cover; 
    background-position-x: 20%;
    background-position-y: 10%;
    width: 100%;
    height: 100vh;
    z-index: -1; 
    animation: introload 2s forwards;   
    //overflow:hidden;
}

.logo {
    color:hsla(207, 98%, 65%, 0.993);
    font-weight: bolder;
    font-size: x-large;
    span {
      color:white;
    }  
}
nav {
    position: fixed;
    right: 0;
    top:0;
    height: 100vh; 
    background: rgb(226, 243, 250);
    width: 35%; 
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    
    ul {
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .9em 2em;
            display: block;
            width: 100%;

            &:hover {
               background:rgb(218, 221, 248);
            }
        }
       
    } 
    .close { 
        float: right;
        margin: 2em;
        width: 2.5em;    
    }
}
header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2em;
        margin-top:-.6em;
        cursor: pointer;
    }
}
h1 {
font-size: 1.8rem;
margin-top: 12em;
line-height: 2rem;
}

.subhead {
    font-size: 1em;
}
section.hero {
    color : white;
    height: 40vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
    margin-bottom:6em;

    .down-arrow {
        stroke: white;
        position: absolute;
        bottom: 1em;
        width: 2em;
        animation: moveArrow 2s alternate-reverse infinite;       
    }
}
.more-info {
   img {
       width : 100%;
       object-fit: cover;
       height: 100%;
   }
}

.title {
   font-weight: bold; 
   font-size: 1.25rem;
}
.desc {
    line-height: 1.5rem;   
}
.open-nav {
    transform: translateX(0%);
}

@media only screen and (min-width:680px) {
    body { 
        margin: 1.5em 5em; 
        font-family:'Segoe UI',Verdana, sans-serif;
    }
}

@media only screen and (min-width:920px) {
    .menu {
       display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width:auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;
            
            a {
                color: white;
                padding:.5em, 1.5em;
                font-size:.9rem;  
    
            
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }

        }
    }
    .hero-img { 
        left: unset;
        right: 0;
        width: 85%;
        height: 35em;
    }
    .logo {
        color: black;
        span {
            color:hsla(207, 98%, 65%, 0.993);
        }  
    }
    section.hero {
        height:auto;
        width: 90%;
        margin-bottom: 5em;
        
        span { 
            color: hsla(207, 98%, 65%, 0.993);
        }
    
        svg.down-arrow { 
            animation: moveArrow 2s alternate-reverse infinite;       
            stroke:black;  
            position: unset;
            
            path {
                fill:black;
            }
        }
    }
    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 8em;
          
        img {
            width: 25em;
        }
        
        .content {
            text-align: right;
            width: 25em;
        }
    }
    .feature.left {
        grid-template-areas: "left right";
        
        img {
            grid-area: left;
        }
        .content {
            text-align: left;
            width: 25em;
            justify-self: left; 
    
    }

}

@media only screen and (min-width:940px){
section.hero {
    height:auto;
    width: 90%;
    margin-bottom: 5em;
    color: hsla(207, 98%, 65%, 0.993);
    }
}
@media only screen and (min-width:1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
.feature {
    gap: 0;
   }
}

@keyframes introload { 
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes moveArrow { 
        from {
            transform: translateY(-15px)
        }
        to { 
            transform: translateY(5px)
        }
    
    }
}
@keyframes moveDown { 
    from {
        transform: translateY(-100px);
    }
    to { 
        transform: translateY(0px);
        opacity: 1;
    }
}