body {
  margin: 1.5em;
  font-family: 'Segoe UI',Verdana, sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../qitimages/image5.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 10%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introload 2s forwards;
          animation: introload 2s forwards;
}

.logo {
  color: rgba(78, 174, 253, 0.993);
  font-weight: bolder;
  font-size: x-large;
}

.logo span {
  color: white;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #e2f3fa;
  width: 35%;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: .9em 2em;
  display: block;
  width: 100%;
}

nav ul a:hover {
  background: #daddf8;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 2em;
  margin-top: -.6em;
  cursor: pointer;
}

h1 {
  font-size: 1.8rem;
  margin-top: 12em;
  line-height: 2rem;
}

.subhead {
  font-size: 1em;
}

section.hero {
  color: white;
  height: 40vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
  margin-bottom: 6em;
}

section.hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 1em;
  width: 2em;
  animation: moveArrow 2s alternate-reverse infinite;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.desc {
  line-height: 1.5rem;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'Segoe UI',Verdana, sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: .5em, 1.5em;
    font-size: .9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 85%;
    height: 35em;
  }
  .logo {
    color: black;
  }
  .logo span {
    color: rgba(78, 174, 253, 0.993);
  }
  section.hero {
    height: auto;
    width: 90%;
    margin-bottom: 5em;
  }
  section.hero span {
    color: rgba(78, 174, 253, 0.993);
  }
  section.hero svg.down-arrow {
    animation: moveArrow 2s alternate-reverse infinite;
    stroke: black;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: black;
  }
  .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
        grid-template-areas: "left right";
  }
  .feature.left img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    width: 25em;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media only screen and (min-width: 920px) and (min-width: 940px) {
  section.hero {
    height: auto;
    width: 90%;
    margin-bottom: 5em;
    color: rgba(78, 174, 253, 0.993);
  }
}

@media only screen and (min-width: 920px) and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
}

@media only screen and (min-width: 920px) {
  @-webkit-keyframes introload {
    from {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @keyframes introload {
    from {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @-webkit-keyframes moveArrow {
    from {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    to {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
  @keyframes moveArrow {
    from {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    to {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */